#main{
    color: red;
    background-color: black;
    font-size: 50px;
    font-family: cursive;
}
.second{
    color: blue;   
}

b{
    color: palevioletred;
    background-color: antiquewhite;
}

p{
    color: yellowgreen;
    background-color: aquamarine;
}

.level{
    background-color: black;
}